<!DOCTYPE html>
<html>
    <head>
        <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    </head>
    <body>
        <h1> Welcome to Blocipedia!</h1>
        <p>You can sign in to Bolcipedia with your email address <strong><%= @user.email %></strong>
        </p>
        <p>
            Get to writing today!
            <%= link_to "Blocipedia", root_url %>
        </p>
    </body>
</html>
